@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-text {
    @apply font-medium text-2.5xl tracking-wider text-[#E5e6e6];
  }
}

html {
  scroll-behavior: smooth;
}

.gallery-dots.slick-dots {
  bottom: 44px;
}

.gallery-dots.slick-dots li {
  margin: 0 15px;
}


.gallery-dots.slick-dots li button:before {
  color: #fff;
  opacity: 1;
  font-size: 20px;
}

.gallery-dots.slick-dots li.slick-active button:before {
  color: #972F17;
  opacity: 1;
}

@media screen(2xl) {
  .nav-text {
    @apply text-xl;
  }

  .gallery-dots.slick-dots li button:before {
    font-size: 14px;
  }
}