@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-text {
    @apply text-1.5xl font-medium tracking-wider text-[#E5e6e6];
  }

  .article-heading {
    @apply text-3xl font-medium text-[#263238];
  }
  .article-p {
    @apply text-lg text-justify font-normal leading-relaxed text-[#263238];
  }
}

html {
  scroll-behavior: smooth;
}

.gallery-dots.slick-dots {
  bottom: 44px;
}

.gallery-dots.slick-dots li {
  margin: 0 15px;
}

.gallery-dots.slick-dots li button:before {
  color: #fff;
  opacity: 1;
  font-size: 20px;
}

.gallery-dots.slick-dots li.slick-active button:before {
  color: #972f17;
  opacity: 1;
}

.mobile .gallery-dots.slick-dots {
  bottom: -80px;
}

.mobile .gallery-dots.slick-dots li {
  margin: 0 5px;
}

.mobile .gallery-dots.slick-dots li button:before {
  color: #fff;
  opacity: 1;
  font-size: 12px;
  transform: scale(0.8);
}

.mobile .gallery-dots.slick-dots li.slick-active button:before {
  color: #972f17;
  opacity: 1;
}

#institution,
#scholar,
#news,
#domain {
  scroll-margin-top: 225px;
}

@media screen(2xl) {
  .nav-text {
    @apply text-xl;
  }

  .gallery-dots.slick-dots li button:before {
    font-size: 14px;
  }

  #institution,
  #scholar,
  #news,
  #domain {
    scroll-margin-top: 164px;
  }
}
